body { padding: 40px; }
body.receiver {
  color: white;
  background-color: #131313;
  background: linear-gradient(to bottom, #4c4c4c 0%,#595959 25%,#666666 50%,#474747 75%,#2c2c2c 90%,#111111 100%); /* W3C */
  background-repeat: no-repeat;
}
body.sender {
  background-color: rgba(252,252,252,1) 60%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(60%,rgba(252,252,252,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(252,252,252,1) 60%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom,  rgba(234,234,234,1) 0%,rgba(252,252,252,1) 60%); /* W3C */
  background-repeat: no-repeat;
}
label input[type=radio] { position:relative; bottom: 3px; }
.ng-cloak { display: none;}

.innercircle {
  border: solid 1px #CCCCCC;
  padding: 10px;
  border-radius:50%;
  cursor: pointer;
  color: white;
  background-color: #DDDDDD;
  font-size: 2em;
}

.outercircle {
  border: solid 1px #CCCCCC;
  border-radius:50%;
  
}

.innercircle.active {
 background-color: #d2423b; 
 border: 1px solid #b33731;
}

.receiver h1 {
  font-size: 5vw;
  line-height: 5vw;
}
.red {
  color: red;
}

.blue {
  color: blue;
}
iframe {
  border: none;
  width: 99%;
  height: 76vh;
}