<!DOCTYPE html>
<html data-cast-api-enabled="true" ng-app="castApp" ng-controller="CastController" >
  <head>
    <title>OK TV</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
  </head>
  <body class="ng-cloak">
  <div class="page-header">
    <h1>Ok TV</h1>
  </div>
  
  <form class="form-horizontal">
    <p>
      <div class="control-group">
        <label>
          Say or type a command <input type="text" ng-model="vm.command" placeholder="Enter you name here"/>
        </label>
      </div>
    </p>
  </form>

  <form class="form-horizontal">
    <p>
      <legend>Select the Chromecast to send to:</legend>
      <select ng-model="vm.selectedReceiver" ng-options="rec as rec.name for rec in vm.receivers"></select>
    </p>
  </form>

  <div class="btn btn-success" ng-click="fn.launch()" ng-disabled="!vm.selectedReceiver">Send To Chromecast</div>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  </body>
</html>