<!DOCTYPE html>
<html data-cast-api-enabled="true" ng-app="castApp" ng-controller="CastController" >
  <head>
    <title>OK TV</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
  </head>
  <body class="sender">
  <div class="page-header">
    <h1>Ok TV</h1>
  </div>
  
  <form class="form-horizontal">
    <p>
      <div class="control-group">
        <label>
          Say or type a command <input type="text" ng-model="vm.command" placeholder="" ng-change="fn.sendMessage(vm.command)"/>
          <span ng-class="{innercircle:1,active:vm.listening}" ng-click="fn.toggleListening()"><i class="icon-microphone"></i></span>
        </label>
        
        
        <div class="clear"></div>
      </div>
    </p>
  </form>

  <form class="form-horizontal">
    
    <legend>Select the Chromecast to send to:</legend>
    <select ng-model="vm.selectedReceiver" ng-options="rec as rec.name for rec in vm.receivers"></select>
    <button class="btn btn-success" ng-click="fn.launch()" ng-disabled="!vm.selectedReceiver">Launch on Chromecast</button>
  </form>

  Receiver Running on {{vm.selectedReceiver.name}}: {{vm.activity.running}}
  <br>
  Launch Request: {{vm.launchRequest|json}}

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
  <script type="text/javascript" src="angular-castready.js"></script>
  <script type="text/javascript" src="sender.js"></script>
  </body>
</html>